<!DOCTYPE html>
<html>
    <h1>
        Welcome to Best Cars dealership!
    </h1>
    <p>
        At Best Cars dealership, we pride ourselves in providing the best quality cars in North America. We have a large selection of domestic and imported cars, all reasonably priced. 
    </p>
    <h2>
        Our mission
    </h2>
    <p>
        Our mission is to deliver an unparalleled car-buying experience by offering high-quality vehicles, transparent pricing, and personalized customer service. We strive to build lasting relationships with our customers based on trust and satisfaction.
    </p>
</html>